@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-color: Gainsboro;
  --secondary-color: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  --terciary-color: #6495ed;
}

body {
  //background-image: url('./images/background.jpg');
  // background: background: rgb(238,174,202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
}

.title {
  color: var(--primary-color);
  background: #090979;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  color: var(--primary-color);
}

#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #635ec4;
  // box-shadow: 3px 3px 3px black;
  border-radius: 20px;
}

.tipsForm {
  padding-left: 20px;
  padding-right: 20px;
}

.formInput {
  background: white;
  width: 40px;
  border-radius: 10px;
  padding: 5px 5px 8px 8px;
}

.formInput:focus {
  border: 3px solid #94bbe9;
  border-radius: 10px;
  outline: none;
}

.formSelect {
  border-radius: 10px;
  width: 180px;
  padding: 5px;
  font-size: 12px;
}

.formSelect:focus {
  border: 3px solid #94bbe9;
  border-radius: 10px;
  outline: none;
}

.formSubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #94bbe9;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  border: 3px solid #94bbe9;
}

.formSubmit:hover {
  border: 3px solid #94bbe9;
  border-radius: 10px;
  outline: none;
  background: #b0c4de;
}

.totalTips {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}
